<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/posts.css">
</head>
<body>
    <div id="posts">
        <div class="header">
            <div class="menu">
                <a href="/posts" class="logo">BLOG</a>
                <a href="/public" class="right-btn" v-cloak @click="inOrOut">{{ ifLogin ? '登出' : '登陆'}}</a>
                <a href="javascript:void(0)" class="right-btn" v-cloak @click="inOrOut">{{ ifLogin ? '登出' : '登陆'}}</a>
            </div>
            <div class="bg"></div>
        </div>
        <div class="main" :load="load">
            <div v-if="info.articleList.join('')" class="article-list">
                <post v-for="articleItem in info.articleList" :article-item="articleItem" :del-article="delArticle"></post>
            </div>
            <div v-if="info.comments.join('')" class="comments" v-cloak>
                <div class="comments-header">留言</div>
                <comment v-for="comment in info.comments" :comment="comment" :delete-comment="deleteComment"></comment>
            </div>
            <div v-if="local().id" class="submit-comments" v-cloak>
                <div class="submit-header">发表留言</div>
                <div class="submit-content">
                    <textarea placeholder="请留言" v-model="content"></textarea>
                    <a href="javascript:void(0)" class="submit" @click="submit">发表</a>
                </div>
            </div>
        </div>
        <div class="public" v-if="ifLogin">
            <a href="/posts/public" class="public-btn">发表</a>
        </div>
    </div>
    <script type="text/javascript" src="/js/libs/vue.js"></script>
    <script type="text/javascript" src="/js/libs/vue-resource.min.js"></script>
    <script type="text/javascript" src="/js/components.js"></script>        
    <script type="text/javascript" src="/js/posts.js"></script>        
</body>
</html>