.header .menu{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;	
	height: 60px;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 2;
}
.header .bg{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;	
	height: 200px;
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: -1;		
}
.header .menu .right-btn{
	position: absolute;
	right: 40px;
	top: 0;
	bottom: 0;
	margin: auto;
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	padding: 0 20px;
	border-radius: 4px;
	color: #444;
	background-color: #ddd;
}
.header .menu .right-btn:hover{
	background-color: #f8f8f8;
}
.main{
	z-index: 1;
	min-width: 960px;
	max-width: 1148px;
	margin: 0 auto;
	margin-top: 100px;
}
.article-list .article-item{
	margin-bottom: 40px;
	padding: 0 40px;
	background-color: #fff;
}
.article-list .article-item .author{
	padding: 40px;
	border-bottom: 1px solid #0073aa;
}
.article-list .article-item .author > img{
	width: 120px;
	height: 120px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	border: 5px solid #fff;
}
.article-list .article-item .author > p{
	font-size: 20px;
	text-align: center;
	padding-top: 40px;
	font-weight: bold;
}
.article-list .article-item .article-title{
	font-size: 24px;
	text-align: center;
	padding: 40px;
	font-weight: bold;
}
.article-list .article-item .article-content{
	font-size: 20px;
	padding: 0 40px 40px 40px;
	text-indent: 2em;
	word-break: break-all;
}
.article-list .article-item .article-btn{
	text-align: right;
	padding-bottom: 40px;
}
.article-list .article-item .article-btn a{
	display: inline-block;
	font-size: 18px;	
	padding-right: 20px;
}
.article-list .article-item .article-btn a:hover{
	text-decoration: underline;
	color: #000;
}
/*comments*/
.comments{
	background-color: #fff;
	margin-bottom: 40px;
}
.comments .comments-header{
	padding: 40px 0;
	margin: 0 40px;
	font-size: 24px;
	border-bottom: 1px solid #0073aa;
	font-weight: bold;
}
.comments .comments-item{
	padding: 40px 0;
	margin: 0 40px;
	position: relative;
	border-bottom: 1px solid #0073aa;
	min-height: 200px;
}
.comments > div:last-child{
	border-bottom: 0;
}
.comments .comments-item .comments-info{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: -webkit-translateY(-50%);
}
.comments .comments-item .comments-info img{
	width: 70px;
	height: 70px;
	border-radius: 4px;
	padding-bottom: 20px;
	margin: 0 auto;
	display: block;
}
.comments .comments-item .comments-info p{
	font-size: 20px;
	text-align: center;
}
.comments .comments-item .comments-content{
	font-size: 20px;
	padding-left: 200px;
}
.comments .comments-item .delete-comment{
	font-size: 18px;
	position: absolute;
	right: 20px;
	bottom: 40px;
}
.comments .comments-item .delete-comment:hover{
	text-decoration: underline;
	color: #000;
}
.submit-comments{
	background-color: #fff;
}
.submit-comments .submit-header{
	padding: 40px 0;
	margin: 0 40px;
	font-size: 24px;
	border-bottom: 1px solid #0073aa;
	font-weight: bold;	
}
.submit-comments .submit-content{
	padding: 40px;
	overflow: hidden;
}
.submit-comments .submit-content textarea{
	resize: none;
	height: 300px;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	display: block;
	border-radius: 4px;
	font-size: 20px;
}
.submit-comments .submit-content .submit{
	float: right;
	margin-top: 40px;
	background-color: #0073aa;
	color: #fff;
	border-radius: 4px;
	font-size: 20px;
	text-align: center;
	width: 100px;
	height: 50px;
	line-height: 50px;
}
.submit-comments .submit-content .submit:hover{
	background-color: #0F7EB5;
}
